{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Service Status List</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Service Status List</h1>
        <ul>
            {% for request in service_requests %}
            <li class="border-class"><a href="{% url 'service_request_detail' request.pk %}">{{ request.request_type }}</a> - {{ request.status }}</li>
            {% endfor %}
        </ul>

    </div>
</body>
</html>
